body{
    background-color: #EFDCAB;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 50%;
    height: 98vh;
    border-radius: 10px;
    font-family: "Museo 500",Arial, Helvetica, sans-serif;
    background-color: red;
}

h3{
    margin-top: 15%;
    font-size: xx-large;
}

i{
    margin-left: 12.5%;
    align-self: flex-start;
}

input[type="email"], input[type="password"]{
    background-color: aliceblue;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}