@font-face {
    font-family: "Museo 700";
    src: url("../font/Museo\ 700.otf")
}

@font-face {
    font-family: "Museo 300";
    src: url("../font/Museo\ 300.otf")
}

@font-face {
    font-family: "Museo 500";
    src: url("../font/Museo\ 500.otf")
}

body{
    background-color: #EFDCAB;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 97vw;
    height: 98vh;
    margin-top: 1vh;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Museo 500",Arial, Helvetica, sans-serif;
}

#potwierdzenie{
    width: 15px;
}

.checkbox{
    display: flex;
    align-self: flex-start;
    margin-left: 25%;
}

.checkbox > p{
    position: relative;
    top: 8px;
    left: 10px;
}