body{
    background-color: #EFDCAB;

    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 97vw;
    height: 98vh;
    margin-top: 1vh;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Museo 500",Arial, Helvetica, sans-serif;
}

#potwierdzenie{
    width: 15px;
}

input[type="text"], input[type="email"], input[type="password"]{
    background-color: aliceblue;
}

.checkbox{
    display: flex;
    align-self: flex-start;
    margin-left: 25%;
}

.checkbox > p{
    position: relative;
    top: 8px;
    left: 10px;
}