.post-photo{
  width: 50px;
  aspect-ratio: 1;
}

.profile-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.profile-info > p{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10px;
  top: 8px;
}

.post-content{
  font-size: 1rem;
  width: auto;
  height: fit-content;
  text-wrap: balance;
}

.post-likes{
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.post-buttons{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}