.post-photo{
  width: 50px;
  aspect-ratio: 1;
}

.profile-info{
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.profile-info > p{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10px;
  top: 8px;
}

.post-content{
  width: auto;
  height: fit-content;
}