body{
    background-color: #EFDCAB;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 97vw;
    height: 98vh;
    margin-top: 1vh;
    border-radius: 10px;
    font-family: "Museo 500",Arial, Helvetica, sans-serif;
}

main > h3{
    margin-top: 15%;
    font-size: xx-large;
}

main > i{
    margin-left: 12.5%;
    align-self: flex-start;
}

input[type="email"], input[type="password"]{
    background-color: aliceblue;
}

.checkbox{
    display: flex;
    margin-left: 15%;
    align-self: flex-start;
    align-items: center;
}

.checkbox > p{
    position: relative;
    left: 8px;
    top: 8px;
}